<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %>

  <body>

    <%- include('../partials/header') %>
      <main class="main-home">


        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/images/appImg/ban1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/images/appImg/ban2.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/images/appImg/ban3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/images/appImg/ban4.webp" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/images/appImg/ban5.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <div class="container-cards">
          <div class="container-product">
            <div class="card" style="width: 18rem;">
              <img src="/images/appImg/locion.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Loción</h5>
                <p class="card-text">Loción refrescante de lilas para el cuerpo.</p>
                <a href="#" class="btn btn-primary">Ver más</a>
              </div>
            </div>
            <div class="container-product">
              <div class="card" style="width: 18rem;">
                <img src="/images/appImg/crema.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Crema facial</h5>
                  <p class="card-text">Hidratante con FPS 50 para día.</p>
                  <a href="#" class="btn btn-primary">Ver más</a>
                </div>
               
              </div>
             
              <div class="container-product">
                <div class="card" style="width: 18rem;">
                  <img src="/images/appImg/diorperfume.webp" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Perfume Dior</h5>
                    <p class="card-text">Fragancia amaderada de noche, notas intensas.</p>
                    <a href="#" class="btn btn-primary">Ver más</a>
                  </div>
                </div>

                

              </div>

 <div class="img-con">
                <img class="img-m" src="/images/appImg/model.jpg" alt="">
              </div>


            </div>
  
            <div class="container-product">
              <div class="card" style="width: 18rem;">
                <img src="/images/appImg/dior.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Brillo labial Dior</h5>
                  <p class="card-text">Gloss para todas las ocasiones</p>
                  <a href="#" class="btn btn-primary">Ver más</a>
                </div>
              </div>
              <div class="container-product">
                <div class="card" style="width: 18rem;">
                  <img src="/images/appImg/mascara.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Máscara para pestañas</h5>
                    <p class="card-text">Máscara waterproof intensa, tonos vibrantes.</p>
                    <a href="#" class="btn btn-primary">Ver más</a>
                  </div>
                </div>
                <div class="container-product">
                  <div class="card" style="width: 18rem;">
                    <img src="/images/appImg/chanel.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Lipstick Channel </h5>
                      <p class="card-text">En tonos mate, larga duración.</p>
                      <a href="#" class="btn btn-primary">Ver más</a>
                    </div>
                  </div>
                </div>
              </div>
            
            
            
            </div>
          

  <!-- Slider -->
   
  
  
        </main>
<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide swiper-slide--one">
      <a href="">
      <img title="" sizes="" srcset=""
        src="https://perfugroupar.vtexassets.com/assets/vtex.file-manager-graphql/images/077c5069-b54e-4464-a369-5cfb0a17da6e___d22b56cba2e8561fe67180d111b23807.jpg"
        alt=""
        class="vtex-slider-layout-0-x-imageElement vtex-slider-layout-0-x-imageElement--logo-marcas vtex-store-components-3-x-imageElement vtex-store-components-3-x-imageElement--logo-marcas"
        loading="eager" fetchpriority="auto" crossorigin="anonymous" style="max-height: 200px; width: 300px;"></a>
    </div>
    <div class="swiper-slide swiper-slide--two">
      <a href="">
      <img title="" sizes="" srcset=""
        src="https://perfugroupar.vtexassets.com/assets/vtex.file-manager-graphql/images/83b0f3fd-3f55-44c3-b25c-99ce618a2472___c92130f98d56616c18baa0eedfcf2f8b.jpg"
        alt=""
        class="vtex-slider-layout-0-x-imageElement vtex-slider-layout-0-x-imageElement--logo-marcas vtex-store-components-3-x-imageElement vtex-store-components-3-x-imageElement--logo-marcas"
        loading="eager" fetchpriority="auto" crossorigin="anonymous" style="max-height: 200px; width:  300px;"></a>
    </div>
    <div class="swiper-slide swiper-slide--three">
      <a href="">
      <img title="" sizes="" srcset=""
      src="https://perfugroupar.vtexassets.com/assets/vtex.file-manager-graphql/images/20619292-1cd2-4665-8ef8-36e7c9252c52___1d173069dcf31929d073661a937a39bc.png"  style="max-height: 200px; width:  300px;"></a>
    </div>
    <div class="swiper-slide swiper-slide--four">
      <a href="">
      <img title="" sizes="" srcset=""
        src="https://perfugroupar.vtexassets.com/assets/vtex.file-manager-graphql/images/b86a11dc-37ea-4816-b656-036deebeef8b___fcf86d8148121cedc4f1a27089bfbdad.jpg"
        alt=""
        class="vtex-slider-layout-0-x-imageElement vtex-slider-layout-0-x-imageElement--logo-marcas vtex-store-components-3-x-imageElement vtex-store-components-3-x-imageElement--logo-marcas"
        loading="eager" fetchpriority="auto" crossorigin="anonymous" style="max-height: 200px; width: 300px;"></a>
    </div>
    <div class="swiper-slide swiper-slide--five">
      <a href="">
      <img title="" sizes="" srcset=""
        src="https://perfugroupar.vtexassets.com/assets/vtex.file-manager-graphql/images/4a8f6432-f43e-45ff-9de8-6366ce364777___387698143cf743f1daa3debbc1da6cd9.png"
        alt=""
        class="vtex-slider-layout-0-x-imageElement vtex-slider-layout-0-x-imageElement--logo-marcas vtex-store-components-3-x-imageElement vtex-store-components-3-x-imageElement--logo-marcas"
        loading="eager" fetchpriority="auto" crossorigin="anonymous" style="max-height: 200px; width: 300px;"></a>
    </div>
    <div class="swiper-slide swiper-slide--six">
      <a href="">
      <img title="" sizes="" srcset=""
        src="https://perfugroupar.vtexassets.com/assets/vtex.file-manager-graphql/images/8f466d72-85f3-4e8e-b768-7de60b16ea10___a930f20d174a19c7476a8a2084eb96f7.jpg"
        alt=""
        class="vtex-slider-layout-0-x-imageElement vtex-slider-layout-0-x-imageElement--logo-marcas vtex-store-components-3-x-imageElement vtex-store-components-3-x-imageElement--logo-marcas"
        loading="eager" fetchpriority="auto" crossorigin="anonymous" style="max-height: 200px; width:  300px;"></a>
    </div>
  </div>
</div>
           
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
          </div>
          <!-- <img src="https://cdn.pixabay.com/photo/2021/11/04/19/39/jellyfish-6769173_960_720.png" alt="" class="bg">
          <img src="https://cdn.pixabay.com/photo/2012/04/13/13/57/scallop-32506_960_720.png" alt="" class="bg2"> -->
        


  
<%- include('../partials/footer') %>

<script src="../../../js/slider.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.5/swiper-bundle.min.js"></script>

</body>


